/*#region BODY*/
:root {
    --blue: #4a3aff;
    --white: #ffffff;
    --radius: 0.5rem;
    --error: #fceaea;
}

[data-theme="dark"] {
    --white: #4a4a4a;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


a {
    color: var(--white);
}

h1 {
    color: var(--blue);
}

.noneButtons {
    background-color: unset !important;
    border-color: unset !important;
    border-width: 0 !important;
}

.forButtons {
    border-radius: var(--radius);
    background-color: var(--blue);
    color: var(--white);
    border: solid 2px var(--blue);
    font-size: 0.9rem;
}

/*#endregion BODY*/

/*#region MYRAPHSTRAP*/

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.ms-1 {
    margin-left: 1rem !important;
}

.ms-2 {
    margin-left: 2rem !important;
}

.ms-3 {
    margin-left: 3rem !important;
}

.ms-4 {
    margin-left: 4rem !important;
}

.ms-5 {
    margin-left: 5rem !important;
}

.w-100 {
    width: 100% !important;
}

/*#endregion MYRAPHSTRAP*/

/*#region HEADER*/
header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dropdownHeader {
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    background-color: var(--blue);
    flex-direction: column;
    align-items: center;
    display: none;
    border-radius: 0 0 var(--radius) var(--radius);
}

#logo {
    width: 40%;
}

.dimensionButton {
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*#endregion HEADER*/

/*#region FEED*/

#forAdd {
    padding-top: 8%;
    padding-right: 22%;
    padding-left: 22%;
    padding-bottom: 8%;
    color: var(--blue) !important;
    background-color: var(--white) !important;
}

.buttonsOptions {
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-top: 1%;
}

#feedMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feedOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.forFeedPost {
    border: solid 2px var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--radius);
}


.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.question {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.optionsCreatePost {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#forSubmit {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedCreatePost {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonDeleteFeed {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.iconDeleteFeed {
    width: 8%;
}

#titleCreatePost {
    color: var(--blue);
    text-transform: uppercase;
}

#formPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalPost {
    top: 2%;
    position: absolute;
    height: 96%;
    background-color: var(--blue);
    width: 100%;
    display: none;
    flex-direction: column;
}

#closeModalPost {
    display: flex;
    flex-direction: row-reverse;
}

#modalPostHeader {
    display: flex;
    flex-direction: row-reverse;
}

#modalPostHeader>button>img {
    width: 15%;
    height: auto;
}

#feedPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apiFeed {
    width: 30%;
}

.titleApiFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgNASA {
    width: 100%;
    height: auto;
}

.forNasaPost {
    border: solid 2px var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--radius);
}

/*#endregion FEED*/

/*#region GALERIE*/

#galerieMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#galeriePage {
    display: flex;
}

.forGalerieImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerieImage {
    width: 90%;
}

.iconOptionsGalerie {
    width: 8%;
}

#galerieOptions {
    /*width: 10%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mosaique {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.colonne {
    flex-direction: column;
    align-items: center;
}

#optionsForImageSee {
    display: flex;
    flex-direction: row;
}

.iconDeleteGalerie {
    width: 8%;
    position: relative;
    top: 15rem;
    left: 9rem;
}

.buttonsDeleteGalerie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeriePubCarouselWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    /*width: 90%;*/
}

#galeriePubCarousel {
    transform-style: preserve-3d;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.carrouselPub {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carrouselPubSee {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.buttonsPaginations {
    position: relative;
    display: flex;
    width: 5%;
    height: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsPaginations>img {
    width: 55%;
}

#leftArrow {
    left: 250px;
}

#rightArrow {
    right: 250px;
}



/*#endregion GALERIE*/

/*#region GAME*/
#chooseDifficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}

.dropdown>a {
    color: var(--white) !important;
}

.dropdown>p {
    color: var(--white) !important;
}

#gameInformations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameBoard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}


#newValue {
    color: orange;
}

.cardsGameEasy {
    width: 10%;
    margin: 1rem;
}

.cardsGameMedium {
    width: 10%;
    margin: 1rem;
}

.cardsGameHard {
    width: 7%;
    margin: 1rem;
}

#win {
    font-size: 2rem;
    color: green;
}

#loose {
    font-size: 2rem;
    color: red;
}

#profilMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoProfil {
    display: flex;
    flex-direction: row;
}

#titleGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*#endregion GAME*/

/*#region DASHBOARD*/

#titleDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropdownDashboardMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropdownDashboard {
    padding-right: 47px !important;
    padding-left: 48px !important;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

tr {
    background-color: white
}

thead>tr {
    background-color: rgb(228 240 245) !important;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

/*
tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
*/

#forErrorAPI {
    overflow-y: auto;
}

#errorAPIDashboard {
    border-style: groove;
    background-color: #c6c6c6;
    width: auto;
    height: 200px;
    border: black solid 2px;
}

#titleErrorAPI {
    border-top: 0 black solid;
    border-left: 0 black solid;
    border-right: 0 black solid;
    border-bottom: 2px black solid;
    border-style: outset;
}

#espaceErrorAPI {
    padding: 80px;
}

#errorAPI {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 178px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#errorAPI>p {
    border-top: 2px black solid;
    background-color: var(--error);
}

#canvaDashboard {
    background-color: white;
    display: flex;
}

#mainDashboard {
    display: flex;
    flex-direction: column
}

.status-⚠ {
    background-color: var(--error) !important;
}

#theme-toggle {
    color: white !important;
}

#dropdownDashboard {
    color: white !important;
}

.listDropdown {
    color: white !important;
}

/*#endregion DASHBOARD*/

/*#region MEDIAQUERYS*/

/*! Tel*/
@media only screen and (max-width: 992px) {
    #optionsForImageSee {
        display: none;
    }

    #feedPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apiFeed {
        width: 100%;
    }

    #galeriePubMain {
        margin-top: 0px !important;
    }

    .buttonsPaginations {
        width: 15%;
    }

    #rightArrow {
        right: 125px;
        z-index: 1000;
    }

    #leftArrow {
        left: 125px;
        z-index: 1000;
    }

    .buttonsPaginations>img {
        width: 50px;
    }
}

/*! PC*/
@media only screen and (min-width: 992px) {
    .carrouselPub {
        width: 50%;
    }

    .cardsGameEasy {
        width: 8%;
    }

    .cardsGameMedium {
        width: 8%;
    }

    .cardsGameHard {
        width: 4%;
    }

    .forFeedPost {
        margin-left: 23%;
        margin-right: 23%;
    }

    .iconDeleteGalerie {
        width: 8%;
        position: relative;
        top: 29rem;
        left: 17rem;
    }

    #forAdd {
        padding-top: 1%;
        padding-right: 4%;
        padding-left: 4%;
        padding-bottom: 1%;
    }

    #feedCreatePost {
        margin-top: 5rem;
    }

    #dropdownDashboard {
        padding-right: 48px !important;
    }

    #errorAPIDashboard {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #forErrorAPIDashboard {
        width: 100%;
    }

    #mainDashboard {
        align-items: center;
    }
}

/*#endregion MEDIAQUERYS*/