/*#region BODY*/
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.noneButtons {
    background-color: unset !important;
    border-color: unset !important;
    border-width: 0 !important;
}

/*#endregion BODY*/

/*#region MYRAPHSTRAP*/

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.ms-1 {
    margin-left: 1rem !important;
}

.ms-2 {
    margin-left: 2rem !important;
}

.ms-3 {
    margin-left: 3rem !important;
}

.ms-4 {
    margin-left: 4rem !important;
}

.ms-5 {
    margin-left: 5rem !important;
}

/*#endregion MYRAPHSTRAP*/

/*#region HEADER*/
header {
    padding: 1rem;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dropdownHeader {
    background-color: green;
}

.dropdown {
    flex-direction: column;
    align-items: center;
    display: none;
}

/*#endregion HEADER*/

/*#region FEED*/
#feedMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feedOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forFeedPost {
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.question {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.optionsCreatePost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedCreatePost {
    border: solid 2px orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonDeleteFeed {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.iconDeleteFeed {
    width: 8%;
}

/*#endregion FEED*/

/*#region GALERIE*/

#galerieMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#galeriePage {
    display: flex;
}

.forGalerieImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerieImage {
    width: 90%;
}

.iconOptionsGalerie {
    width: 8%;
}

#galerieOptions {
    /*width: 10%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mosaique {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.colonne {
    flex-direction: column;
    align-items: center;
}

#optionsForImageSee {
    display: flex;
    flex-direction: row;
}

.iconDeleteGalerie {
    width: 8%;
    position: relative;
    top: 15rem;
    left: 9rem;
}

.buttonsDeleteGalerie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeriePubCarouselWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    /*width: 90%;*/
}

/*
#galeriePubCarouselWrap * {
    box-sizing: border-box;
*/

#galeriePubCarousel {
    transform-style: preserve-3d;


    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.carrouselPub {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carrouselPubSee {
    opacity: 1;
    position: relative;
    z-index: 900;
}

/*
#galeriePubCarouselWrap {
    overflow: hidden;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
*/

/*#endregion GALERIE*/


/*#region GAME*/
#chooseDifficulty {
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}


#dropdownGameList>a {
    color: black !important;
}

#gameInformations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameBoard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}


#newValue {
    color: red;
}

.cardsGameEasy {
    width: 10%;
    margin: 1rem;
}

.cardsGameMedium {
    width: 10%;
    margin: 1rem;
}

.cardsGameHard {
    width: 7%;
    margin: 1rem;
}

#gameResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

/*#endregion GAME*/


/*#region MEDIAQUERYS*/

/*! Tel*/
@media only screen and (max-width: 992px) {
    #optionsForImageSee {
        display: none;
    }
}

/*! PC*/
@media only screen and (min-width: 992px) {
    .carrouselPub {
        width: 50%;
    }

    .cardsGameEasy {
        width: 8%;
    }

    .cardsGameMedium {
        width: 8%;
    }

    .cardsGameHard {
        width: 4%;
    }
}

/*#endregion MEDIAQUERYS*/