/*#region FEED*/

#forAdd {
    padding-top: 8%;
    padding-right: 22%;
    padding-left: 22%;
    padding-bottom: 8%;
    color: var(--blue) !important;
    background-color: var(--white) !important;
}

.buttonsOptions {
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-top: 1%;
}

#feedMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feedOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.forFeedPost {
    border: solid 2px var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--radius);
}


.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.question {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.optionsCreatePost {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#forSubmit {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedCreatePost {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonDeleteFeed {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.iconDeleteFeed {
    width: 8%;
}

#titleCreatePost {
    color: var(--blue);
    text-transform: uppercase;
}

#formPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalPost {
    top: 2%;
    position: absolute;
    height: 96%;
    background-color: var(--blue);
    width: 100%;
    display: none;
    flex-direction: column;
}

#closeModalPost {
    display: flex;
    flex-direction: row-reverse;
}

#modalPostHeader {
    display: flex;
    flex-direction: row-reverse;
}

#modalPostHeader>button>img {
    width: 15%;
    height: auto;
}

#feedPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apiFeed {
    width: 30%;
}

.titleApiFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgNASA {
    width: 100%;
    height: auto;
}

.forNasaPost {
    border: solid 2px var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--radius);
}

/*#endregion FEED*/