/*#region POKEMON*/
#forSearchPokemon {
    display: flex;
    flex-direction: column;
}

#formSearchPokemon {
    display: flex;
    flex-direction: column;
}

#forInputSearchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#labelSearchPokemon {
    margin-bottom: 0.3rem;
}

#forSumbitSearchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forOptionsPokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#forAfterSearchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#afterSearchPokemon {
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    /* align-items: center*/
    border-radius: 5%;
}

#imgAfterSearchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoAfterSearchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoAfterSearchPokemon>p {
    margin-bottom: 0.5rem;
}

#moreInfoAfterSearchPokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#typePokemon {
    display: flex;
    flex-direction: column;
}

.listMoreInfo {
    padding-left: 0.5rem;
}

.titleInfoPokemon {
    text-decoration: underline;
}

#loader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.loaderRecharge {
    z-index: 1;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fallIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fallOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

/*#endregion POKEMON*/